<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>

    <h1 th:text="${title}">List of my Cheeses!</h1>

    <p th:unless="${cheeses} and ${cheeses.size()}">No cheese</p>
    <ul>
        <li th:each ="cheese : ${cheeses}">
            <span th:text="${cheese.getCheeseName() + ', Type: ' +
             cheese.type.name + ', ' + cheese.getCheeseDescription()}"></span>
            <a th:href="@{'/cheese/edit/' + ${cheese.cheeseId}}">edit</a>
        </li>

    </ul>

</body>
</html>